@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-color: #fff;
    --text-color: #333;
    --button-bg-color: #007bff;
    --button-text-color: #fff;
    --button-hover-bg-color: #5cb85c;
    --chat-bg: rgba(255, 255, 255, 0.295);
}

/* Theme 1 - Yellow/Green */
.theme1 {
    --bg-color: #ffeb3b;
    --text-color: #4caf50;
    --button-bg-color: #4caf50;
    --button-text-color: #fff;
    --button-hover-bg-color: #8bc34a;
    --chat-bg: rgba(255, 255, 0, 0.307);
}

/* Theme 2 - Purple/Yellow */
.theme2 {
    --bg-color: #9c27b0;
    --text-color: #f9ca24;
    --button-bg-color: #f9ca24;
    --button-text-color: #fff;
    --button-hover-bg-color: #673ab7;
}

/* Theme 3 - Blue/Orange */
.theme3 {
    --bg-color: #2196f3;
    --text-color: #ff9800;
    --button-bg-color: #ff9800;
    --button-text-color: #fff;
    --button-hover-bg-color: #03a9f4;
    --chat-bg: rgba(0, 0, 255, 0.311);
}

/* Theme 4 - Teal/Indigo */
.theme4 {
    --bg-color: #009688;
    --text-color: #3f51b5;
    --button-bg-color: #3f51b5;
    --button-text-color: #fff;
    --button-hover-bg-color: #00bcd4;
    --chat-bg: rgba(0, 128, 0, 0.396);
}

/* Theme 5 - Red/Deep Purple */
.theme5 {
    --bg-color: #f44336;
    --text-color: #673ab7;
    --button-bg-color: #673ab7;
    --button-text-color: #fff;
    --button-hover-bg-color: #e91e63;
    --chat-bg: rgba(255, 0, 0, 0.377);
}

/* Light Theme */
.light {
    --bg-color: #fff;
    --text-color: #333;
    --button-bg-color: #007bffdd;
    --button-text-color: #fff;
    --button-hover-bg-color: #D3D3D3;
    --chat-bg: rgba(161, 161, 161, 0.288);
}

/* Dark Theme */
.dark {
    --bg-color: #333;
    --text-color: #fff;
    --button-bg-color: #555;
    --button-text-color: #fff;
    --button-hover-bg-color: #D3D3D3;
    --chat-bg: rgba(0, 0, 0, 0.386);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.theme-border {
    background-color: var(--button-hover-bg-color)
}


/* chat with friend */
.inputsearchNAme {
    background-color: var(--button-bg-color);
}

.chatCounter {
    background-color: var(--button-bg-color);
    border: 1px solid var(--bg-color);
}

.chatIcoming {
    background-color: var(--button-bg-color);
}

.chatOutGping {
    background-color: var(--chat-bg);
}

.sendbg{
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

/* chat with friends close */




/* custom scrolbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);

}

.custom-scrollbar::-webkit-scrollbar-track:hover {
    background: var(--bg-color);
    cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--button-hover-bg-color);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
    margin: 3px 0px;
}

/* custom scrollbar close */

/* button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
} */

/* button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-text-hover-color, var(--button-text-color));
}


button.secondary {
    background-color: #ffffff;
    color: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
}

button.secondary:hover {
    background-color: var(--button-bg-color);
    color: #ffffff;
} */